/*GOOGLE字形CSS語法*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
    
}
p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
    
}
.btn{
    background: #f05f5c;
    color:white;
    padding:9px 26px;
    border-radius: 20px;
}

h3{
    font-size: 36px;
    line-height:1.5;
}

p{
    color: #707070;
}

/*設定網站最大寬度為100%* 而不會破版*/
img{
    max-width: 100%;
}
/*Logo寬度*/
header nav img{
    width: 155px;
}
/*Menu margin*/
header li{
    margin: 8px 10px;
 }


 /*---------超大屏幕(外層)>設定jumbotron的背景圖案與其他設定---------*/
 #intro2 .jumbotron2{
    background:url(../pictures/thebg_good4.jpg);
    /*失真圖片  使其剛好符合投放區SIZE*/
    background-size: cover;
    /*不重複圖片*/
    background-repeat: no-repeat;
    /*圖片置中 故50%*/
    background-position: 50%;
    height:70vh;
    margin-bottom: 0px;
    position: relative;
    
}

/*超大屏幕漸層效果*/
#intro2 .jumbotron2:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: block;
    background: linear-gradient(to right, rgba(255,255,255,0.99) 20%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 95%);
}



 #intro2 .jumbotron2 p{
    color:white;
    
 }
 

 #intro2 hr{
    border-top: 2px solid #f05f5c;
    width: 87px;
    margin-top: 24px;
    margin-bottom: 26px;
 }

 h1{
    color:white;
 }

 #intro2 .contact{
	height: auto;
    padding: 0px;
}

 #intro2 .contact .col-md-4{
	height: 400px;
    background: rgba(0,0,0,0.5);
    padding: 66px;
    text-align: center;
}

/*超大屏幕(內層)>將內容設定置中對齊 離TOP距離50% 有垂直置中效果*/
 /*用translate來做vertical置中有個缺點，因為目前CSS中寫無法寫兩個translate(第一個translate被overwrite)，所以在置中上用了translate會導致animation中不能使用translate*/
.cinner{
	position:relative;
    top: 50%;
    transform: translate(0, -50%);
}

#contact{
    padding: 80px 0px;
}
/*--------------------聯絡方法----------------------*/
h3{
    margin-bottom: 40px;
}

 #contact p a{
    color: #f05f5c;
 }

 #contact p a:hover{
    color:#f05f5c;
 }

 #contact i{
    margin-right:4px;
 }

/*--------------------查詢表單------------------------*/
#contact input{
    margin-bottom: 20px;
}
#contact textarea{
    height: 200px;
}
.btn-primary:hover{
	background:#f05f5c;
    opacity: 0.8;
    border-color: #f05f5c;
}
.btn-primary{
	border-color: #f05f5c;
}
 /*--------------------頁腳----------------------*/
footer{
    border-top: solid 1px #c9c9c9;
    padding: 80px 0px;
    margin-top: 40px;
}

footer img{
    width: 100px;
    margin-bottom: 25px;
}

footer h4{
    margin-bottom: 30px;
}

footer a{
    color: #f05f5c;
}

footer a:hover{
	color:#f05f5c;
}

/*liststyle預設的黑點標頭設為none*/
/*float使ul緊跟在左*/
footer ul{
    list-style: none;
    padding: 0px;
    float: left;
    margin-right: 50px;
}

footer li{
    margin-bottom: 10px;
}

footer li a{
    color: #707070;
}

footer li a:hover{
    color:#707070;
    text-decoration: none;
    opacity: 0.8;
}

/*--------------------響應式頁面-------------------*/
@media only screen and (max-width:768px){


    footer h4{
        margin-bottom: 26px;
        margin-top: 30px;
      }
}