/*GOOGLE字形CSS語法*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
    
}
p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
    
}


.btn{
    background:#f05f5c;
    padding:9px 26px;
    border-radius: 20px;
    border:none;
    color:white;

}
.btn:hover{
    opacity:0.8;
    color: #f05f5c;
    background: #f05f5c;
    color:white;
}

p{
    font-size: 16px;
    line-height: 28px;
    color:#707070;
}
/*設定網站圖片最大寬度為100%* 而不會破版*/
img{
    width:100%;
}

/*Logo寬度*/
header nav img{
    width:155px;
}
/*Menu margin*/
header li{
    margin:0px 13px;
}

 /*---------超大屏幕(外層)>設定jumbotron的背景圖案與其他設定---------*/

 #intro .jumbotron{
    background:url(../pictures/thebg_good4.jpg);
    /*失真圖片  使其剛好符合投放區SIZE*/
    background-size:cover;
    /*不重複圖片*/
    background-repeat:no-repeat;
    /*圖片置中 故50%*/
    background-position: 50%;
    height:400px;
    margin-bottom: 0px;
    position:relative;
 }

 /*超大屏幕漸層效果*/

 #intro .jumbotron:before{
    content:"";
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    display:block;
    background:linear-gradient(to right,rgba(255,255,255,0.99)20%,rgba(255,255,255,0.7)70%,rgba(255,255,255,0)95%);
 }


  /*---------活動內容---------*/

  #singlecontent{
    padding:80px 0px;
  }
  #singlecontent h4{
    margin-top:50px;
  }

  .thetag{
    color:#f05f5c;
    font-size: 16px;
    padding: 10px 18px;
    border:1px solid #f05f5c;
    border-radius:20px;
    display:inline-block;
    margin-left:8px;
  }

.apply{
    background: #f9f9f9f9;
    padding:44px;
}

.apply .btn{
    font-size:16px;
    margin-top:32px;
    width:100%;
}

.applybelow{
    margin-top:80px;
    text-align:center;
}

.btn2{
    color:#707070;
    border: 1px solid #707070;
    border-radius: 20px;
    padding:10px 20px;
    display:inline-block;
    margin-top:4px;
}

.btn2:hover{
    text-decoration:none;
    opacity:0.8;
    color:#707070;
}

#singlecontent i{
    margin-right: 3px;
}

/*---------搞手的話---------*/
#second h3{
    margin-bottom:70px;
    font-size:32;
}

#second h5{
    margin-top: 22px;
    font-size: 16px;
}

#second img{
    border-radius: 100%;
    width:108px;
}

p.lead{
    line-height: 31px;
    color:black;
}

/*-------加入K.O. Party的Email List--------*/

#Email{
    padding:80px 0px;
}
#Email h3{
    padding:40px;
}

#Email .btn{
    margin-top: 10px;
    font-size: 16px;
}

/*-------頁腳--------*/
/*border-top: solid  區隔線 設定灰色*/
footer{
    border-top: 1px solid rgba(0,0,0,0.09);
    padding:80px 0px;
}

footer img{
    width:155px;
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    margin-bottom:35px;
}
/*liststyle預設的黑點標頭設為none*/
/*float使ul緊跟在左*/
footer ul {
    list-style: none;
    padding:0px;
    float: left;
    margin-right:46px;
}

footer ul li{
    margin-bottom:10px;
}

footer ul a{
    color: #707070;
}

footer ul a:hover{
    opacity:0.8;
    color:#707070;
    text-decoration:none;
}
/*設定Mail連結顏色為主色系*/
footer a{
    color:#f05f5c;
}

footer a:hover{
    color: #f05f5c;
}

/*---------響應式頁面---------*/
/*當頁面解析低於768px時 是個breakpoint*/

@media only screen and (max-width:768px){
    #second h5{
        margin-bottom:50px;
    }

    /*讓outer之間稍微分隔開*/
    #latest .outer{
    margin-bottom: 40px;
    }

    /*讓outer裡面的圖片可以填充至100% 使其不會產生白邊情況*/
    #latest img{
    width: 100%;
    }

    footer h4{
        margin-bottom:26px;
        margin-top:30;
    }

}