/*GOOGLE字形CSS語法*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
    
}
p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
    
}
.btn{
    background: #f05f5c;
    color:white;
    padding:9px 26px;
    border-radius: 20px;
}

h3{
    font-size: 36px;
    line-height:1.5;
}

p{
    color: #707070;
}

/*設定網站最大寬度為100%* 而不會破版*/
img{
    max-width: 100%;
}
/*Logo寬度*/
header nav img{
    width: 155px;
}
/*Menu margin*/
header li{
    margin: 8px 10px;
 }


/*---------------------常見問題----------------------*/
#faq .thehead h3{
    margin-bottom: 88px;
    font-size: 32px;
}

#faq .thehead p{
    margin-bottom: 80px;
}

#faq .thehead .col-md-4 p{
	margin-bottom: 0px;
    margin-top: 25px;
}


#faq {
    padding: 80px 0px;
    background: rgb(248, 248, 248);
 }


/*去除a tag屬性 讓連結顏色變為黑色*/
#faq a{
    color: black;
}
/*去除a tag屬性 hover時取消下底線*/
#faq a:hover{
    text-decoration: none;
}

.card-header .btn,.card-header .btn:hover{
    background:none !important;
    color:black;

}

.card-header .btn:hover{
    opacity: 0.5;
}



/*--------------------頁腳----------------------*/
footer{
    border-top: solid 1px #c9c9c9;
    padding: 80px 0px;
}

footer img{
    width: 100px;
    margin-bottom: 25px;
}

footer h4{
    margin-bottom: 30px;
}

footer a{
    color: #f05f5c;
}

footer a:hover{
	color:#f05f5c;
}

/*liststyle預設的黑點標頭設為none*/
/*float使ul緊跟在左*/
footer ul{
    list-style: none;
    padding: 0px;
    float: left;
    margin-right: 50px;
}

footer li{
    margin-bottom: 10px;
}

footer li a{
    color: #707070;
}

footer li a:hover{
    color:#707070;
    text-decoration: none;
    opacity: 0.8;
}

/*--------------------響應式頁面-------------------*/
@media only screen and (max-width:768px){


    footer h4{
        margin-bottom: 26px;
        margin-top: 30px;
      }
}