/*GOOGLE字形CSS語法*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
    
}
p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
    
}
.btn{
    background: #f05f5c;
    color:white;
    padding:9px 26px;
    border-radius: 20px;
}

h3{
    font-size: 36px;
    line-height:1.5;
}

p{
    color: #707070;
}


/*設定網站最大寬度為100%* 而不會破版*/
img{
    max-width: 100%;
}
/*Logo寬度*/
header nav img{
    width: 155px;
}
/*Menu margin*/
header li{
    margin: 8px 10px;
 }


/*----------------------最新派對----------------------*/
 #partyinfo {
    padding: 80px 0px;
    background: rgb(248, 248, 248);
 }
 
#partyinfo .lead{
    margin-bottom:50px;
}

#partyinfo h3{
    font-size: 32px;
    margin-bottom: 7px;
}

#partyinfo .col-md-4{
    margin-top: 25px;
}

#partyinfo .outer{
    background: white;
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.08);
}

#partyinfo .upper{
    position: relative;
}

#partyinfo .innertext{
    position:absolute;
    bottom:24px;
    left:24px;
}

#partyinfo .innertext span{
    background: rgb(255,255,255,0.3);
    padding: 5px 15px;
    border-radius: 20px;
}

#partyinfo .innertext h4{
    font-size: 20px;
    margin-top: 22px;
}

#partyinfo .lower h3{
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}

#partyinfo .lower i{
    margin-right: 6px;
}

#partyinfo .lower span{
    font-size:15px;
}

#partyinfo .lower{
    padding: 6px 20px 20px 20px;
}
/*去除a tag屬性 讓連結顏色變為黑色*/
#partyinfo a{
    color: black;
}
/*去除a tag屬性 hover時取消下底線*/
#partyinfo a:hover{
    text-decoration: none;
}

/*----------------------頁腳-------------------*/
footer{
    border-top: solid 1px #c9c9c9;
    padding: 80px 0px;
}

footer img{
    width: 100px;
    margin-bottom: 25px;
}

footer h4{
    margin-bottom: 30px;
}

footer a{
    color: #f05f5c;
}
footer a:hover{
	color:#f05f5c;
}

/*liststyle預設的黑點標頭設為none*/
/*float使ul緊跟在左*/
footer ul {
    list-style:none;
    padding: 0px;
    float: left;
    margin-right: 50px;
}

footer li{
    margin-bottom:10px;
}

footer li a{
    color: #707070;
}

footer li a:hover{
    color: #707070;
	text-decoration: none;
	opacity: 0.8;
}

/*--------------------響應式頁面-------------------*/
@media only screen and (max-width:768px){

    #partyinfo .outer{
        margin-bottom: 40px;
    }

    #partyinfo img{
        width:100%;
    }
    
    footer h4{
      margin-bottom: 26px;
      margin-top: 30px;
    }
}