/*GOOGLE字形CSS語法*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC', sans-serif;
    
}
p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
    
}

.btn{
    background: #f05f5c;
    color: white;
    padding: 9px 26px;
    border-radius: 20px;
}

h3{
    font-size: 36px;
    line-height:1.5;
}

p{
    color: #707070;
}
/*設定網站圖片最大寬度為100%* 而不會破版*/
img{
    max-width: 100%;
}

/*Logo寬度*/
header nav img{
    width: 155px;

}
/*Menu margin*/
header li{
    margin: 8px 10px;
}

 /*---------超大屏幕(外層)>設定jumbotron的背景圖案與其他設定---------*/
#intro .jumbotron{
    background:url(../pictures/thebg_good4.jpg);
    /*失真圖片  使其剛好符合投放區SIZE*/
    background-size: cover;
    /*不重複圖片*/
    background-repeat: no-repeat;
    /*圖片置中 故50%*/
    background-position: 50%;
    height:70vh;
    margin-bottom: 0px;
    position: relative;
    
}

 /*超大屏幕漸層效果*/
#intro .jumbotron:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: block;
    background: linear-gradient(to right, rgba(255,255,255,0.99) 20%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 95%);
}

 /*超大屏幕(內層)>將內容設定置中對齊 離TOP距離50% 有垂直置中效果*/
 /*用translate來做vertical置中有個缺點，因為目前CSS中寫無法寫兩個translate(第一個translate被overwrite)，所以在置中上用了translate會導致animation中不能使用translate*/
 #intro .container{
    position: relative;
    top:50%;
    transform: translate(0, -50%);
 }

 #intro　h1{
    font-size: 52PX;
    font-weight: 400;
    line-height: 1.5;
}



 /*-------------加入K.O. Party------------------*/

 #second{
    padding: 80px 0px;
 }

 #second h3{
    margin-bottom: 80px;
 }

 #second img{
    width: 100px;
    border-radius: 100%;
    margin-bottom: 13px;
 }
/*p.lead 連著寫 同時符合p&lead才生效*/
 p.lead{
   color:black;
 }

/*---------最新派對---------*/
/*latest 設定該大區塊背景為淡灰色 以區隔其他功能區塊*/
 #latest{
    padding: 80px 0px;
    background: rgb(248, 248, 248);
    
 }
 #latest h3{
    margin-bottom: 80px;
 }
/*outer 設定該小區塊背景為白色 以區隔其他功能區塊*/
 #latest .outer{
    BACKGROUND: WHITE;
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.08);
}

 /*定位relative*/
#latest .upper{
    position: relative;
}
/*讓innertext文字能夠在相片的框框裡面 定位absolute 需同時將upper定位relative 互參基準點*/
 #latest .innertext{
    position: absolute;
    bottom: 24px;
    left: 24px;
 }

 #latest .innertext span{
    background: rgb(255,255,255,0.3);
    padding: 5px 15px;
    border-radius: 20px;
 }

 #latest .innertext h4{
    font-size: 20px;
    margin-top: 22px;
 }

 #latest .lower h3{
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
}
 
#latest .lower i{
    margin-right: 6px;
}

#latest .lower span{
    font-size: 15px;
}

#latest .lower{
    padding: 6px 20px 20px 20px;
}

/*去除a tag屬性 讓連結顏色變為黑色*/
#latest a{
    color: black;
}
/*去除a tag屬性 hover時取消下底線*/
#latest a:hover{
    text-decoration: none;
}

/*---------加入K.O. Party的Email List---------*/
#email{
    padding: 80px 0px;
}

#email .input-group{
    margin-bottom: 20px;
}

#email h3{
    margin-bottom: 80px;
}


/*---------頁腳---------*/
/*border-top: solid  區隔線 設定灰色*/
footer{
    border-top: solid 1px #c9c9c9;
    padding: 80px 0px;
}

footer img{
    width: 100px;
    margin-bottom: 26px;
}

footer h4{
    margin-bottom: 26px;
}

/*設定Mail連結顏色為主色系*/
footer a{
    color: #f05f5c;
}

footer a:hover{
	color:#f05f5c;
}

/*liststyle預設的黑點標頭設為none*/
/*float使ul緊跟在左*/
footer ul{
    list-style: none;
    padding: 0px;
    float: left;
    margin-right: 50px;
}

footer li{
    margin-bottom: 10px;
}

footer ul li a{
    color: #707070;
}

footer li a:hover{
    color: #707070;
	 text-decoration: none;
	 opacity: 0.8;
}

/*------ flexslider插件的設定 -------*/
.flex-direction-nav a:before {
    
    font-size: 30px;
    
}

#jslider{

    padding-bottom: 80px;
}



/*---------響應式頁面---------*/
/*當頁面解析低於768px時 是個breakpoint*/
@media only screen and (max-width:768px){
  
   #second h5{
      margin-bottom: 50px;
   }
   /*讓outer之間稍微分隔開*/
   #latest .outer{
      margin-bottom: 40px;
   }
   /*讓outer裡面的圖片可以填充至100% 使其不會產生白邊情況*/
   #latest img{
      width: 100%;
   }

   footer h4{
      margin-bottom: 26px;
      margin-top: 30px;
   }
}